body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    
}
.slider-container {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
.slider {
    display: flex;
    transition: transform 0.5s ease;
}
.slide {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    background-color: black;
}
.slide img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}
.slide p {
    font-size: 16px;
    margin-top: 10px;
    color: white;
}
