body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    background: linear-gradient(to top,#5e1818 50%,transparent);
    flex-direction: column;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
    width: 345px;
    height: 569px;
    background: #121212;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0,0,0,.4);
    overflow: hidden;
}
.img{
    position: absolute;
    top: 1px;
    width: 100%;
    height: 300px;
    background:url("mtk.JPG") center / cover;
}
.container::before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(to top,#121212 50%,transparent);
}
.content{
   position: absolute;
   bottom: 0;
   z-index: 2;
   width: 100%;
   height: 330px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   font-family:'Poppins', sans-serif;
}
form{
   width: 260px;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
form input, button{
    border: none;
    height: 40px;
    outline: none;
    border-radius: 2px;
}
form input{
    width: 260px;
    margin: 5px 0;
    background: #333333;
    padding: 0 10px;
}
form input::placeholder{
    font-family: "Poppins", sans-serif;
}
form button{
   background: #e50813;
   color: #fff;
   font-size: 18px;
   font-weight: bold;
   font-family: 'Poppins', sans-serif;
   box-shadow: 0 0 30px red;
   border-radius: 10px;
   height: 40px;
   width: 100px;
}
.content p{
    width: 260px;
    color: #737373;
    font-size: 13px;
}
.contwnt p a{
    text-decoration: none;
    color: #fff;
}







