* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* body {
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    background: black;
    overflow-x: hidden;
    width: 100%;
}
.gradasi {
    position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25vh; /* tinggi berdasarkan layar */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  pointer-events: none;
  z-index: 5;
}

nav a {
    text-decoration: none;
    color: white
    margin-left: 40px;
    border-radius: 20px;
    padding: 10px;
}

header nav a:hover,
header nav a.active {
    background: rgb(134, 255, 140);
    color: white;
}

.WELCOME {
    position: absolute;
    width: 60%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
}

.WELCOME h1 {
    color: rgb(40, 117, 44);
    font-size: small;
    font-weight: 100;
    letter-spacing: 0.1cm;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgb(0, 0, 0);
}
.holi p {
    color: #fff;
  font-size: clamp(1rem, 4vw, 2rem);
  font-weight: 300;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-shadow: 0 0 20px rgba(0, 255, 85, 0.6);
  font-style: italic;
  text-align: center;
}

.WELCOME h2 {
    color: rgb(21, 90, 24);
    font-size: 1.1cm;
    letter-spacing: 0.1cm;
    font-weight: 1000;
    text-shadow: 0 0 30px rgb(255, 255, 255);
}

div .explore {
    border: none;
    color: rgb(17, 94, 68);
    padding: 10px;
    border-radius: 20px;
    font-size: 1.5ch;
    font-weight: 1000;
    margin-top: 15px;
    letter-spacing: 0.2cm;
    text-transform: uppercase;
}

.explore{
    background-color: black
    color: white   
    
}
.explore ::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 60vh;
    bottom: 0;
    left: 0;
}

.home img{
    position: absolute;
    bottom: 0;  
    width: 100%;
    pointer-events: none;
}
.contener h1, p{
    padding: 50px;
    background: black;
    bottom: 100%;
    color: rgb(255, 255, 255);
}
.contener img{
    width: 100%;
    display: flex;
    margin: auto;
}
.contener .imgg2{
    width: 10%;
    display: block;
    margin: auto;
    position: absolute;
    top: 750px;
    left: 40px;
}
.contener .imgg3{
    width: 10%;
    display: block;
    margin: auto;
    position: absolute;
    top: 750px;
    left: 170px;
}
.contener .imgg4{
    width: 10%;
    display: block;
    margin: auto;
    position: absolute;
    top: 750px;
    left: 290px;
}

.ag {
    color: rgb(255, 255, 255);
    font-size: small;
    letter-spacing: 0cm;
    font-weight: 1000;
    width: 100%;
    margin: 20px 0 -10px;
    margin-left: 0%;
    margin-top: 0%;
}
.lol {
    color: rgb(255, 255, 255);
    font-size: xx-large;
    letter-spacing: 0cm;
    font-weight: 1000;
    width: 100%;
    margin: 20px 0 -10px;
    margin-left: %;
    margin-top: 0%;
    font-style: oblique;
}
.b1 {
   width: 25%;
  max-width: 200px;
  height: auto;
}
.b2 {
    width: 25%;
  max-width: 200px;
  height: auto;
}
.b3 {
    width: 25%;
  max-width: 200px;
  height: auto;
}
.b4 {
    width: 25%;
  max-width: 200px;
  height: auto;
}
.b5 {
    width: 25%;
  max-width: 200px;
  height: auto;
}
.b6 {
   width: 25%;
  max-width: 200px;
  height: auto;
}
.b7 {
   width: 25%;
  max-width: 200px;
  height: auto;
}
.b8 {
    width: 25%;
  max-width: 200px;
  height: auto;
}
.b9 {
  width: 25%;
  max-width: 200px;
  height: auto;
}
.b10 {
   width: 25%;
  max-width: 200px;
  height: auto;
}
.b11 {
   width: 25%;
  max-width: 200px;
  height: auto;
}
.b12 {
    width: 25%;
  max-width: 200px;
  height: auto;
}
.b13 {
   width: 25%;
  max-width: 200px;
  height: auto;
}
.b14 {
    width: 25%;
  max-width: 200px;
  height: auto;
}
.b15 {
   width: 25%;
  max-width: 200px;
  height: auto;
}
.b16 {
   width: 25%;
  max-width: 200px;
  height: auto;
}
.b17 {
   width: 25%;
  max-width: 200px;
  height: auto;
}
.b18 {
   width: 25%;
  max-width: 200px;
  height: auto;
}

.b19 {
   width: 25%;
  max-width: 200px;
  height: auto;
}

.b20 {
   width: 25%;
  max-width: 200px;
  height: auto;
}

.b21 {
    width: 25%;
  max-width: 200px;
  height: auto;
}

.b22 {
   width: 25%;
  max-width: 200px;
  height: auto;
}

.b23 {
   width: 25%;
  max-width: 200px;
  height: auto;
}

.b24 {
   width: 25%;
  max-width: 200px;
  height: auto;
}

.b25 {
   width: 25%;
  max-width: 200px;
  height: auto;
}

.b26 {
    width: 25%;
  max-width: 200px;
  height: auto;
}

.b27 {
    width: 25%;
  max-width: 200px;
  height: auto;
}

.b28 {
  width: 25%;
  max-width: 200px;
  height: auto;
}

.b29 {
width: 25%;
  max-width: 200px;
  height: auto;
}

.b30 {
    width: 25%;
  max-width: 200px;
  height: auto;
}

.b31 {
   width: 25%;
  max-width: 200px;
  height: auto;
}

.b32 {
   width: 25%;
  max-width: 200px;
  height: auto;
}

.b33 {
   width: 25%;
  max-width: 200px;
  height: auto;
}

.b34 {
    width: 25%;
  max-width: 200px;
  height: auto;
}

.b35 {
    width: 25%;
  max-width: 200px;
  height: auto;
}

.b36 {
    width: 25%;
  max-width: 200px;
  height: auto;
}

.b37 {
    width: 25%;
  max-width: 200px;
  height: auto;
}

.b38 {
   width: 25%;
  max-width: 200px;
  height: auto;
}

.b39 {
   width: 25%;
  max-width: 200px;
  height: auto;
}
.oke {
    width: 25%;
  max-width: 200px;
  height: auto;
}
.oke1 {
    width: 25%;
  max-width: 200px;
  height: auto;
}
.oke2 {
    width: 25%;
  max-width: 200px;
  height: auto;
}
.oke3 {
   width: 25%;
  max-width: 200px;
  height: auto;
}


